.deck-view__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.deck-view__header .gallery__title {
  margin-bottom: 0;
}

.card__btn_card__btn_type_flip {
  width: 20px;
  height: 20px;
  top: 161px;
  left: 20px;
}
