.gallery {
  display: flex;
  flex-direction: column;
}

.gallery__title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 0;
}

.gallery__list {
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  padding: 0;
}

.gallery__new-card-btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;
  background-color: #d9d9d9;
  padding: 20px;
  width: 325px;
  height: 205px;
  gap: 20px;
  border-radius: 20px;
  align-self: flex-end;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  border: none;
  cursor: pointer;
}

.gallery__new-card-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}

@media screen and (max-width: 393px) {
  .gallery__title {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 32px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
  }
}
