@import url("../vendor/normalize.css");
@import url("./page.css");
@import url("./header.css");
@import url("./nav.css");
@import url("./wrapping-row.css");
@import url("./gallery.css");
@import url("./card.css");
@import url("./carousel.css");
@import url("./footer.css");
@import url("./not-found.css");
@import url("./mobile-bar.css");

@media screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .header__title {
    font-size: 20px;
  }
  .nav__link {
    display: flex;
    font-size: 16px;
    gap: 20px;
  }

  .gallery__title {
    font-size: 32px;
    margin-top: 20px;
  }
}
