/* Modal base styles */
.modal {
  width: 320px;
  height: 195px;
  position: fixed;
  left: 25%;
  top: 45%;
  border-radius: 20px;
  padding: 12px 10px;
  background: #ffaea5;
}

.modal_visible {
  visibility: visible;
}

.modal__container {
  background-color: white;
  max-width: 320px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal__message {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 1.2;
}

.modal__close-btn {
  position: absolute;
  width: 99px;
  height: 46px;
  right: 10px;
  bottom: 10px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 16px;
  cursor: pointer;
  font-size: 18px;
}
