.nav__links {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #1a1a1a;
}

.nav__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 393px) {
  .nav__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    height: 24px;
    font-weight: 500;
    font-size: 14px;
  }
}
